@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

a {
    color: #22D4FD;
           
}
.titulo_destaque{
    color: green;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Roboto Mono", monospace;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentancao__links{
    display: flex;
    justify-content: space-between;
}

.apresentancao__links__link{
    background-color: blue;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px 0;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}
    